/*-- scss:defaults --*/

/*-- scss:rules --*/

img.quarto-cover-image {
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}


.float-left{
  float: left;
  margin-right: 20px;
}

.float-right{
  float: right;
  margin-left: 20px;
}


pre code {
  font-size: 1.1em;
}
